.env
[0-9]*.jpg
[0-9]*.png
*.mp4
!demo*.mp4
!reel*.mp4
*.mp3

# pages
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# backend
__pycache__/
*.py[cod]
*$py.class
venv/
trial.py

**/.ipynb_checkpoints/
model.safetensors